@model Nexteer.Models.Product

@{
    ViewBag.Title = "Nexteer :: Add Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>Add Product</h4></div>
        <div class="panel-body">
            <p style="font-weight: bold;" class="text-center" >Enter the details for the product you would like to add, and click the save button for the product to be saved into the database</p>
            <br />
            @using (Html.BeginForm())
            {
                { Html.RenderPartial("_ProductFormControls"); }
            }
        </div>
    </div>
</div>



