

@{
    ViewBag.Title = "Nexteer :: Product Modified Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div>
                <p style="font-weight: bold;" class="text-center">The product was modified in the database!!!</p>
                @{Html.RenderPartial("_NavigationButtons");}
            </div>
        </div>
    </div>
</div>
