
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductAddedSuccess</title>
</head>
<body>
    <div> 
        <p>The product was added to the database!!!</p>
        @{Html.RenderPartial("_NavigationButtons");}
    </div>
</body>
</html>
