
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductModifiedSuccess</title>
</head>
<body>
    <div> 
        <p>The product was modified in the database!!!</p>
        @{Html.RenderPartial("_NavigationButtons");}
    </div>
</body>
</html>
