

@{
    ViewBag.Title = "Nexteer :: Product Modified Failed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div>
                <p style="font-weight: bold;" class="text-center">The product was not modified in the database!!! Please stay calm and try again later when things may be better.</p>
                @{Html.RenderPartial("_NavigationButtons");}
            </div>
        </div>
    </div>
</div>

