
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductDeletedFailed</title>
</head>
<body>
    <p>The product was not deleted in the database!!! Please stay calm and try again later when things may be better.</p>
    @{Html.RenderPartial("_NavigationButtons");}
</body>
</html>
