@model Dictionary<int, string>

@{
    ViewBag.Title = "Nexteer :: View All Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>View Products</h4></div>
        <div class="panel-body">
            <p style="font-weight: bold;" class="text-center">Here are some really great products!!!</p>
            <br />
            @foreach (KeyValuePair<int, string> product in Model)
            {
                <a href="@Url.Action("ViewProductDetails", "Home", new { productID = @product.Key })">@product.Value</a> <br />
            }
        </div>
    </div>
</div>



